
*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --hover-colour: rgb(251, 85, 112);
    --bezier: cubic-bezier(.5,.24,.5,.94);
}

body {
    font-family: "Karla", sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.temp-logo {
    width: 3%;
    min-width: 30px;
    margin-right: 0.8em;
}

.nav {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: auto;
    justify-content: space-between;
    border-bottom: 0.3em solid black;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.name {
    font-size: 2em;
    margin: 0.5em 0 0.5em 0;
}

.nav-link {
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
    margin-left: 1.4em;
}

.nav-link:hover {
    transition: color .2s ease-in;
    color: var(--hover-colour);
}

.elm {
    text-decoration: none;
}

.burger {
    cursor: pointer;
    display: none;
}

.burger div {
    width: 1.6em;
    height: 0.15em;
    background-color: black;
    margin: 0.3em 0 0.3em 0;
    transition: all 0.3s ease;
}

.burger:hover div {
    background-color: var(--hover-colour);
}

@media screen and (max-width: 700px) {
    body {
        overflow-y: hidden;
    }

    .logo {
        justify-content: center;
    }

    .links {
        z-index: -10px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        top: 6em;
        padding-bottom: 0.7em;
        border-bottom: 0.3em solid black;
        line-height: 2em;
        /* transform: translateY(-160%);
        transition: transform 0.4s ease-in-out; */
        opacity: 0
    }
/* 
    .links li {
        opacity: 0;
    } */

    .burger {
        display: block;
    }

    /* when active, fade in */
    .nav-active {
        animation: fadeIn var(--bezier) 0.5s forwards; 
    }

    /* when inactive, fade out */
    .nav-inactive {
        animation: fadeOut var(--bezier) 0.3s forwards; 
    }
}

/* shows nav when bar is activated */
.nav-active {
    transform: translateY(0%);
}

/* toggle burger bar */
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2{
    opacity: 0;

}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -5px);
}



@keyframes fadeIn {
    0% { 
        opacity: 0;
        transform: translateY(-100%);
    }
    55% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
        transform: translateY(0%);
    }
}

@keyframes fadeOut {
    0% { 
        opacity: 1;
        transform: translateY(0%);
    }
    50% { 
        opacity: 0; 
    }
    100% { 
        opacity: 0; 
        transform: translateY(-35%);
    }
}