* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sofia Pro", sans-serif;
}

body {
    overflow: hidden;
}

.text {
    color: #505050;
    position: absolute;
    letter-spacing: 0.085em;
}

.landing-page {
    height: 100vh;
    min-width: 1280px;
    width: 100vw;
    background: #FFF9F9;
}

.name {
    font-family: "Sofia Pro 300", sans-serif;
    left: 210px;
    top: 42%;
    font-weight: bold;
    font-size: 50px;
}

.subhead {
    left: 210px;
    top: 54%;
    font-weight: bold;
    font-size: 25px;
}

.blue-rect {
    position: absolute;
    bottom: -22%;
    left: -27%;
}

.o-blue-rect {
    position: absolute;
    bottom: -15%;
    left: -30%;
}

.sml-pink-circ {
    position: absolute;
    top: -8%;
    left: -3%;
}

.o-sml-pink-circ {
    position: absolute;
    top: -4%;
    left: 11.75%;
}

.lrg-pink-circ {
    position: absolute;
    bottom: -40%;
    right: -10%;
}

.o-lrg-pink-circ {
    position: absolute;
    bottom: -14%;
    right: -11.5%;
}

.blue-tri {
    position: absolute;
    top: -102px;
    left: 30%;
}

.o-blue-tri {
    position: absolute;
    top: -3%;
    left: 36%;
}

.two-pink-circ {
    position: absolute;
    top: 10%;
    right: 45%;
}

.three-yell-circ {
    position: absolute;
    bottom: 8%;
    left: 26%;
}

.yell-tri-1 {
    position: absolute;
    right: 24%;
    top: 13%;
}

.yell-tri-2 {
    position: absolute;
    left: 22%;
    top: 18%;
    animation: circle2 120s linear infinite;
}

.sml-blue-sqr {
    position: absolute;
    top: 38%;
    right: 37%;
}

.sml-blue-sqr-1 {
    position: absolute;
    top: 34%;
    left: 7%;
}

.sml-blue-sqr-2 {
    position: absolute;
    bottom: 6%;
    right: 40%;
}

.pink-tri {
    position: absolute;
    bottom: 24%;
    left: 43%;
    animation: circle1 220s linear infinite;
}

.sml-blue-rect {
    position: absolute;
    right: -40%;
    top: 3%;
}

.o-sml-blue-rect {
    position: absolute;
    right: -37%;
    top: 1%;
}

.test {
    position: absolute;
    bottom: -100%;
    left: 43%;
}


@keyframes circle1 {
    /* for small shapes */
    from{
        transform: rotate(0deg) translate(14px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translate(14px) rotate(360deg);
    }
}

@keyframes circle2 {
    /* for small shapes */
    from{
        transform: rotate(0deg) translate(20px) rotate(0deg);
    }
    to{
        transform: rotate(-360deg) translate(20px) rotate(-360deg);
    }
}